

@mixin inter($size, $weight) {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: calc($size / 16 * 1rem);
    color: #222222;
}

$breakpoints: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

.is-pc {
    display: none;

    @include respond-to(large) {
        display: block;
    }
}

.is-sp {
    display: block;

    @include respond-to(large) {
        display: none;
    }
}

.explore-btn {
    width: fit-content;
    @include inter(14, 400);
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #e3e3e3;
    border: solid 1px #e3e3e3;
    padding: 12px 32px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;

    &--sp {
        @include respond-to(large) {
            display: none;
        }
    }

    @include respond-to(large) {
        font-size: calc(16/16 * 1rem);
        padding: 16px 40px;
    }

    &:hover {
        background-color: #1d5c63;
        transform: translateY(-4px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
}

// body {
//     background: linear-gradient(270deg, #ffffff, #cfcfcf);
//     background-size: 600% 600%;
//     animation: gradientMove 15s ease infinite;

//     @keyframes gradientMove {
//         0% {
//           background-position: 0% 50%;
//         }
//         50% {
//           background-position: 100% 50%;
//         }
//         100% {
//           background-position: 0% 50%;
//         }
//     }
//   }

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 20px;

    @include respond-to(large) {
        padding: 32px 40px;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative
    }

    &__title {
        @include inter(14, 500);
        letter-spacing: -0.02em;
        text-transform: uppercase;
        will-change: font-size;
        line-height: 1.5;
        color: #e3e3e3;

        @include respond-to(large) {
            font-size: calc(16/16 * 1rem);
        }
    }

    &__nav {
        display: none;

        @include respond-to(large) {
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .header-list {
        display: flex;
        gap: 40px;

        &__item {
            position: relative;

            &:hover .header-list__link {
                opacity: .8;
            }

            &:hover .corner-frame--left {
                transform: translate(-10px, -5px);
                opacity: 1;
            }

            &:hover .corner-frame--right {
                transform: translate(10px, 5px);
                opacity: 1;
            }
        }

        &__link {
            @include inter(14, 400);
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #e3e3e3;
            opacity: 1;
            transition: opacity 0.3s;
            will-change: opacity;

            @include respond-to(large) {
                font-size: calc(16/16 * 1rem);
            }
        }

        .corner-frame {
            width: 10px;
            height: 10px;
            position: absolute;
            opacity: 0;
            transform: translate(0, 0);
            transition: transform 0.3s ease-in, opacity 0.3s ease-in;
            will-change: transform, opacity;

            &--left {
                top: 0;
                left: 0;
                border-top: solid 2px #e3e3e3;
                border-left: solid 2px #e3e3e3;
            }

            &--right {
                bottom: 0;
                right: 0;
                border-bottom: solid 2px #e3e3e3;
                border-right: solid 2px #e3e3e3;
            }
        }
    }



    .menu-btn {
        display: block;
        background-color: none;

        &__label {
            @include inter(14, 400);
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #e3e3e3;
        }

        @include respond-to(large) {
            display: none;
        }
    }

    .explore-btn {
        display: none;

        @include respond-to(large) {
            display: block;
            width: fit-content;
            @include inter(16, 400);
            letter-spacing: -0.02em;
            text-transform: capitalize;
            color: #e3e3e3;
            border: solid 1px #e3e3e3;
            padding: 16px 40px;
            border-radius: 24px 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            transition: background-color 0.3s, transform 0.3s;
        }

        &:hover {
            background-color: #2e4a3d;
            transform: translateY(-4px);
        }
    }
}

.mv {
    width: 100%;
    background-image: url("../ChatGPT\ Image\ May\ 12\,\ 2025\,\ 09_40_04\ AM.png");
    background-size: cover;
    background-position: 60% top;
    background-repeat: no-repeat;
    margin-bottom: 120px;

    @include respond-to(large) {
        height: 100vh;
        margin-bottom: 160px;
        background-image: none;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding: 0 20px 20px;

        @include respond-to(large) {
            padding: 0;
        }
    }

    &__info {
        padding-top: calc(296/16 * 1rem);
        margin-bottom: calc(120/16 * 1rem);

        @include respond-to(large) {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 40%;
            left: 40px;
        }
    }

    &__img {
        display: none;

        @include respond-to(large) {
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
            }
        }
    }

    &__title {
        @include inter(64, 600);
        letter-spacing: -0.01em;
        text-transform: capitalize;
        will-change: font-size;
        line-height: 1;
        color: #e3e3e3;
        margin-bottom: 16px;

        @include respond-to(large) {
            margin-bottom: 32px;
            font-size: calc(128/16 * 1rem);
        }
    }

    &__text {
        @include inter(24, 400);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        will-change: font-size;
        color: #e3e3e3;
        margin-bottom: calc(64/16 * 1rem);

        @include respond-to(large) {
            font-size: calc(48/16 * 1rem);
        }
    }

    &__tag {
        @include inter(12, 400);
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: #e3e3e3;
        text-align: right;

        @include respond-to(large) {
            font-size: calc(16/16 * 1rem);
            position: absolute;
            bottom: 40px;
            right: 40px;
        }
    }

    .explore-btn {
        width: fit-content;
        @include inter(14, 400);
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: #e3e3e3;
        border: solid 1px #e3e3e3;
        padding: 12px 32px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 8px;

        @include respond-to(large) {
            display: none;
        }
    }

    

    .opening-animation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 20px repeat(3, 1fr) 20px;

        @include respond-to(large) {
            grid-template-columns: 80px repeat(3, 1fr) 80px;
        }

        .bg-item {
            background-color: #ffffff;
            border-right: 1px solid #c4c4c4;

            &:last-child {
                border-right: none;
            }
        }
    }
}

.menu {

    display: none;

    @include respond-to(large) {
        display: block;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        padding: 64px 40px;
        filter: brightness(1.0);
        will-change: filter;

        &:hover {
            filter: brightness(1.2);
        }

        &--yellow {
            background-color: #2e2a3b;
        }

        &--gray {
            background-color: #1d5c63;
        }

        &--orange {
            background-color: #5c1a1b;
        }
    }

    &__title {
        @include inter(108, 500);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        will-change: font-size;
        color: #ffffff;
    }

    &__tag {
        position: absolute;
        top: 20%;
        right: 40px;
        transform: translateY(-20%);
        @include inter(24, 500);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        writing-mode: vertical-rl;
        white-space: nowrap;
        color: #ffffff;
    }

    .menu-header {
        cursor: pointer;
    }

    .menu-content {
        height: 0;
        overflow: hidden;
        padding: 0px 64px 0px 0px;
        margin-bottom: 0;
        will-change: height, margin-bottom;
        display: flex;
        justify-content: space-between;
        gap: 24px;

        &__context {
            width: 50%;
        }

        &__item {
            cursor: pointer;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: calc(24/16 * 1rem) 0;
            border-bottom: solid 1px #ffffff;
        }

        &__info {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        &__text {
            @include inter(16, 400);
            line-height: 1.4;
            color: #ffffff;

            &--bold {
                font-weight: 600;
                font-size: calc(18/16 *1rem);
            }
        }
    }

}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // background-color: rgba($color: #dddddd, $alpha: 1);
    border: 2px solid #dddddd;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    will-change: opacity, top, left;

    &__label {
        @include inter(12, 400);
        color: #ffffff;
        text-transform: capitalize;
        letter-spacing: -0.02em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.hover-play {

    .container {
        perspective: 1000px;

        &:hover .shape {
            opacity: 1;
            transform: rotateX(0deg);
        }

        .shape {
            width: 200px;
            height: 200px;
            background: black;
            border-radius: 50%;
            // transform-origin: center bottom;
            // transform: rotateX(100deg);
            // transition: all 0.8s ease;
        }
    }

    &__img {
        position: relative;
        width: 30%;
        perspective: 450px;

        &:hover .hover-play__img-border {
            opacity: 1;
            transform: translate(-50%, -20%) translate3d(0, 0, 0) rotateY(0deg);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__img-border {

        @include respond-to(large) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -20%) translate3d(0, 20px) rotateY(45deg);
            border: solid 1px #312d2b;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            opacity: 0;
            transition: transform 0.5s ease;
        }
    }

    // &__img-label {

    //     // @include respond-to(large) {
            
    //     // }
    // }
}

.dummy {
    width: 100%;
    height: 100vh;
}

.footer {
    width: 100%;
    height: 100vh;
    
    &__wrapper {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 40px;
    }

    &__title {
        @include inter(140, 500);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        position: relative;
        // transform: translateY(20px);
        // opacity: 0;
        // transition: transform 0.7s ease, opacity 0.7s ease;
        will-change: transform, opacity;
        color: #222222;

        // &.is-active {
        //     transform: translateY(0);
        //     opacity: 1;
        // }
    }
}