

@mixin inter($size, $weight) {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: calc($size / 16 * 1rem);
    color: #ffffff;
}

$breakpoints: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

// body {
//     background: linear-gradient(270deg, #ffffff, #cfcfcf);
//     background-size: 600% 600%;
//     animation: gradientMove 15s ease infinite;

//     @keyframes gradientMove {
//         0% {
//           background-position: 0% 50%;
//         }
//         50% {
//           background-position: 100% 50%;
//         }
//         100% {
//           background-position: 0% 50%;
//         }
//     }
//   }

.mv {
    width: 100%;

    @include respond-to(large) {
        height: 100vh;
    }

    &__wrapper {
        width: 100%;
        height: 100%;

        @include respond-to(large) {
            padding: 0 80px;
        }
    }

    &__title {
        @include inter(120, 500);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        will-change: font-size;
        color: #222;
        position: relative;
    }
}

.menu {

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        padding: 64px 40px;
        filter: brightness(1.0);
        will-change: filter;

        &:hover {
            filter: brightness(1.2);
        }

        &--yellow {
            background-color: #2e2a3b;
        }

        &--gray {
            background-color: #1d5c63;
        }

        &--orange {
            background-color: #5c1a1b;
        }
    }

    &__title {
        @include inter(108, 500);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        will-change: font-size;
    }

    &__tag {
        position: absolute;
        top: 20%;
        right: 40px;
        transform: translateY(-20%);
        @include inter(24, 500);
        letter-spacing: -0.04em;
        text-transform: capitalize;
        writing-mode: vertical-rl;
        white-space: nowrap;
    }

    .menu-header {
        cursor: pointer;
    }

    .menu-content {
        height: 0;
        overflow: hidden;
        padding: 0px 64px 0px 0px;
        margin-bottom: 0;
        will-change: height, margin-bottom;
        display: flex;
        justify-content: space-between;
        gap: 24px;

        &__context {
            width: 50%;
        }

        &__item {
            cursor: pointer;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: calc(24/16 * 1rem) 0;
            border-bottom: solid 1px #ffffff;
        }

        &__info {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        &__text {
            @include inter(16, 400);
            line-height: 1.4;

            &--bold {
                font-weight: 600;
                font-size: calc(18/16 *1rem);
            }
        }
    }

}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // background-color: rgba($color: #dddddd, $alpha: 1);
    border: 2px solid #dddddd;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    will-change: opacity, top, left;

    &__label {
        @include inter(12, 400);
        color: #ffffff;
        text-transform: capitalize;
        letter-spacing: -0.02em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.dummy {
    width: 100%;
    height: 100vh;
}
