@charset "UTF-8";

$breakpoints: (
    lg: 860px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

@mixin worksans($size, $weight) {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: calc($size/16 * 1rem);
    font-style: normal;
    color: #222222;
}

body {
    font-size: 16px;
    background-color: #ececec;
}

.index {
    @include worksans(14, 400);
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin-bottom: calc(32/16 * 1rem);
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #222222;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}


.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &__wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        @include respond-to(lg) {
            padding: 40px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        display: none;
        width: 50%;
        height: 100vh;
        background-color: #222222;
        position: absolute;
        top: 0;
        right: 0;

        .header-list {
            display: flex;
            flex-direction: column;
            padding-left: 40px;
            gap: calc(40/16 * 1rem);

            &__link {
                @include worksans(48, 400);
                text-transform: capitalize;
                letter-spacing: -0.02em;
                color: #ffffff;
            }
        }
    }

    &__link {
        @include worksans(14, 500);
        font-size: min(calc(14/390 * 100vw), 16px);
        
        &--title {
            text-transform: uppercase;
            letter-spacing: -0.02em;
            display: block;
        }
    }

    .menu-btn {

        &__link {
            @include worksans(14, 500);
            font-size: min(calc(14/390 * 100vw), 16px);
            text-transform: capitalize;
            letter-spacing: -0.02em;
            display: block;
        }
    }
}

.hero {
    width: 100%;
    overflow: hidden;

    @include respond-to(lg) {
        height: 100vh;
    }
    
    &__wrapper {
        width: 100%;
        height: 100%;
        padding: calc(128/16 * 1rem) 20px 0;
        display: flex;
        flex-direction: column;

        @include respond-to(lg) {
            padding: 40px 40px 0;

        }
    }

    &__info {
        width: calc(204/390 * 100vw);
        margin-bottom: calc(80/16 * 1rem);
        margin-left: auto;
        animation: fadeInInfo 1s ease-in-out forwards;
        opacity: 0;
        transform: translateX(20px);
        animation-delay: 1s;

        @keyframes fadeInInfo {

            0% {
                opacity: 0;
                transform: translateX(20px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }   
            
        }

        @include respond-to(lg) {
            width: 50%;
            margin-left: auto;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        animation: fadeInTitle 1s ease-in-out forwards;
        animation-delay: 2s;
        opacity: 0;
        transform: translateY(20px);

        @keyframes fadeInTitle {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }   
            
        }
        
        @include respond-to(lg) {
            margin-top: auto;
            justify-content: space-between;
        }
    }

    &__title-letter {
        @include worksans(68, 500);
        font-size: calc(68/390 * 100vw);
        text-transform: uppercase;
        letter-spacing: -0.02em;

        @include respond-to(lg) {
            font-size: calc(200/1440 * 100vw);
        }
    }

    &__text {
        @include worksans(14, 400);
        font-size: min(calc(14/390 * 100vw), 16px);
        text-transform: capitalize;
        letter-spacing: -0.02em;

        @include respond-to(lg) {
            font-size: 1rem;
        }

        &--long {
            max-width: 210px;
            margin-bottom: calc(24/16 * 1rem);
            line-height: 1.5;

            @include respond-to(lg) {

                &--long {
                    max-width: 325px;
                    margin-bottom: calc(40/16 * 1rem);
                }
            }
        }

        &--follow {
            margin-bottom: calc(24/16 * 1rem);

            @include respond-to(lg) {
                margin-bottom: calc(40/16 * 1rem);
            }
        }

        &--contact {
            margin-bottom: calc(96/16 * 1rem);

            @include respond-to(lg) {
                margin-bottom: calc(120/16 * 1rem);
            }
        }

        &--scroll {
            display: flex;
            align-items: center;
        }
    }

    &__link {
        @include worksans(14, 400);
        font-size: min(calc(14/390 * 100vw), 16px);
        text-transform: none;
        color: #0000ee;
        display: inline-block;

        @include respond-to(lg) {
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #0000ee;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
                will-change: transform;
                transform-origin: left;
                position: absolute;
                left: 0;
                bottom: -8px;
            }

            &:hover .hero__link::after {
                transform: scaleX(1);
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .hero-list {
        display: flex;
        gap: 1rem;
    }

    .hero-arrow {
        width: 30px;
        aspect-ratio: 1/1;

    }
}

.message {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);

    @include respond-to(lg) {
        margin-bottom: calc(192/16 * 1rem);
    }

    &__wrapper {
        width: 100%;
        padding: calc(80/16 * 1rem) 20px 0;

        @include respond-to(lg) {
            width: 50%;
            margin-left: auto;
            padding: calc(192/16 * 1rem) 40px 0 0;
        }
    }

    &__text {
        @include worksans(24, 400);
        font-size: min(calc(24/390 * 100vw), 24px);
        letter-spacing: -0.04em;
        line-height: 1.5;
        text-transform: uppercase;

        @include respond-to(lg) {
            font-size: min(calc(32/1440 * 100vw), 32px);
        }
    }
}

.service {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);

    &__wrapper {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        @include respond-to(lg) {
            padding: 0 40px;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__content-right {
        
        @include respond-to(lg) {
            width: 50%;
            padding-top: calc(40/16 * 1rem);
        }
    }

    &__content-left {
        margin-bottom: calc(64/16 * 1rem);

        @include respond-to(lg) {
            width: calc(50% - 40px);
            margin-bottom: 0;
        }
    }

    &__text {
        @include worksans(16, 400);
        letter-spacing: -0.04em;
        line-height: 1.5;
        max-width: 280px;

        @include respond-to(lg) {
            font-size: calc(18/16 * 1rem);
            max-width: 400px;
        }
    }

    .service-list {
        display: flex;
        flex-direction: column;
        gap: calc(40/16 * 1rem);

        @include respond-to(lg) {
            gap: calc(80/16 * 1rem);
        }

        .dot {
            display: inline-block;
            width: 5px;
            aspect-ratio: 1/1;
            background-color: #222222;
            border-radius: 50%;
            margin-right: calc(8/16 * 1rem);
        }

        &__item {
            display: flex;
            align-items: center;
            list-style: none;
            width: fit-content;
            @include worksans(28, 400);
            letter-spacing: -0.04em;
            text-transform: capitalize;
            position: relative;

            @include respond-to(lg) {
                font-size: min(calc(56/1440 * 100vw), 56px);
            }

            &:after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #222222;
                position: absolute;
                left: 0;
                bottom: -12px;
            }
        }
    }
}

.dummy {
    width: 100%;
    height: 200vh;
    position: relative;

    p {
        position: sticky;
        top: 20%;
    }
}